
* , .css-1it4a80-MuiTypography-root , .css-1orsvah-MuiTypography-root-MuiLink-root {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    direction: rtl;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    }
h1 , .css-1it4a80-MuiTypography-root {
    font-size: 1.1875rem !important;
}